<div class="container">
<form class="tweet-submit" method='post' action='/tweet'>
  <input type="text" name='tweet' placeholder="Tweet">in
  <input type="checkbox" name="now" checked="yes">Now or 
  <input type="text" name="interval" size="1">
  <select name="unit_of_time">
    <option value=""></option>
    <option value="hours">Hour(s)</option>
    <option value="minutes">Minute(s)</option>
    <option value="seconds">Second(s)</option>
  </select><br>
  <input type='submit' name='submit' value="Tweet!">
</form>
<span></span>
</div>


<script type="text/javascript">
setupMyThang();
</script>
