<div class="container2">
<h3>Login or <a href="/signup">Signup</a></h3>

<form action="/login" method="post">
  <input type="text" name="email" placeholder="email"><br>
  <input type="password" name="password" placeholder="password"><br>
  <input type="submit">
</form>
</div>
