<div class="container2">
<h2>Signup</h2>
<form action="/signup" method="post">
  <label>Email</label><br>
  <input type="text" name="email"><br>
  <label>Username</label><br>
  <input type="text" name="username"><br>
  <label>Password</label><br>
  <input type="password" name="password"><br><br>
  <input type="submit">
</form>

</div>
